---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

          {% for categorie in post.categories %}
            <span class="post-categorie">{{ categorie }}</span>
          {% endfor %}

          {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
          {% endfor%}
        </h2>

        <p class="text">{{ post.excerpt | markdownify }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
